@charset "UTF-8";
body{
    margin: 0px;
}

.grid{
    display: grid;
    grid-template-areas: 
   
       "aside main"
      "footer footer";

      grid-template-columns: 305px 1fr;

}
@media  (min-width:0px) and  (max-width:770px){


    .grid{
    display: grid;
    grid-template-areas: 
      "aside "
      "main"
      "footer";

      grid-template-columns: 1fr;
    }
}

header {
    opacity: 1;
   display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    background-color: darkcyan;

}
header:hover{
    opacity: 0.9;
    cursor: pointer;
}
.img-align{
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}
@keyframes opac{
    from{
        opacity: 0;
        transform: translateY(20px);
 
}
to{
    opacity: 1;
    transform: translateY(0px);
}

}

.titulo{
    font-size: 35px;
    padding: 5px;
    border: 4px solid white;
    color: white;
    animation: opac 2s linear;
   
    
}
h1{
    padding-top: 20px;
  text-align: center;
  color: darkcyan;
   
    
}
h3{
    text-align: center;
    color:white;
    background-color: darkcyan;
}
h4{
   margin:10px;
    text-align: center;
    color:darkcyan;
}

@keyframes slide-aside{

    from{
        margin-top:110px;

    }
    to{
      margin-top: -50px;
    }

}
aside{
    z-index: 1;
    margin-left: 64px;
    margin-right: 20x;
    margin-top: -50px;
    grid-area: aside;
    background-color: rgb(190, 240, 255);
    width: 250px;
    height: 730px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);
    animation: slide-aside 2s linear;
}
@media  (min-width:450px) and  (max-width:770px){
    aside{
        z-index: 1;
 
        margin: 30px auto;
        grid-area: aside;
        background-color: rgb(190, 240, 255);
        width: 340px;
        height: 800px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);

    }
}
@media  (min-width:0px) and  (max-width:450px){
    aside{
        z-index: 1;
     
        margin: -30px auto;
        grid-area: aside;
        background-color: rgb(190, 240, 255);
        width: 280px;
        height: 740px;
        margin-bottom: 2px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);

    }
}
.skill{
    text-align: center;
    background-color: darkcyan;
    border-radius: 20px;
    color: white;
 
}
.container-foto{
    margin: 10px auto;
    width: 220px;
    height: 180px;
    background-color: darkcyan;
}

@media  (min-width:450px) and  (max-width:770px){
    .container-foto{
        margin: 10px auto;
        width: 90%;
        height: 280px;
        background-color: darkcyan;
    }
}
@media  (min-width:0px) and  (max-width:450px){
    .container-foto{
        margin: 10px auto;
        width: 260px;
        height: 180px;
        background-color: darkcyan;
    }
}

main{
  
  
}
@keyframes slide-sobre{
    from{
      transform:translateX(200px)
    }
    to{
        
        transform: scaleX(0px);
    }
}
.container-sobre{
    margin: 40px auto ;

    width: 75%;
    height: 640px;
    grid-area: main;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
    animation: slide-sobre 2s linear;

}
@media  (min-width:450px) and  (max-width:900px){
    .container-sobre{
        margin: 40px auto ;

        width: 75%;
        height: 700px;
        grid-area: main;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
    }
}
@media  (min-width:0px) and  (max-width:450px){
    .container-sobre{
        margin: 40px auto ;

        width: 75%;
        height: 680px;
        grid-area: main;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
    }
}


p{
    color: black;
    font-style: italic;
    margin: 30px;
    text-indent: 50px;
}

.grid-foto{
    display: grid;
    grid-template-areas: 
    "div-foto div-sobre"
    "footer footer"


}
@media  (min-width:0px) and  (max-width:900px){


.grid-foto{
    display: grid;
    grid-template-areas: 
    "div-foto "
    "div-sobre"
    "footer ";


}
}


.div-foto{

    background-image: url(../imagem/leandro-formatura.jpg);
    background-size: cover;
     grid-area: div-foto;
 margin-left: 5px;
 margin-top: 5px;

 width: 250px;
 height: 350px;
 background-color: darkcyan;
 ;
 margin-bottom: 15px;
}

@media  (min-width:0px) and  (max-width:450px){
    .div-foto{

        background-image: url(../imagem/leandro-formatura.jpg);
        background-size: cover;
         grid-area: div-foto;
     margin-left: 5px;
     margin-top: 5px;
    
     width: 175px;
     height: 250px;
     background-color: darkcyan;
     ;
     margin-bottom: 15px;
    }

}
@media  (min-width:450px) and  (max-width:770px){

    .div-foto{
    background-image: url(../imagem/leandro-formatura.jpg);
    background-size: cover;
     grid-area: div-foto;
 margin-left: 5px;
 margin-top: 5px;

 width: 250px;
 height: 350px;
 background-color: darkcyan;
 ;
 margin-bottom: 15px;
}
}

.div-foto:hover{
    opacity: 1;

    cursor: pointer;

}

.fundo-foto{
 
    margin-left: 40px;
    width: 260px;
    height: 360px;
    background-color: darkcyan;
    ;
    margin-bottom: 15px;
}
@media  (min-width:0px) and  (max-width:450px){

    .fundo-foto{
 
        margin:auto;
         width: 185px;
         height: 260px;
         background-color: darkcyan;
         ;
         margin-bottom: 15px;
     }

}
@media  (min-width:450px) and  (max-width:770px){
    
    .fundo-foto{
        margin:auto;
        width: 260px;
        height: 360px;
        background-color: darkcyan;
        ;
        margin-bottom: 15px;
     }
    }

.div-sobre{
    grid-area: div-sobre;
}
.container-forma{
    width: 75%;
    height: 250px;
    margin: 10px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.542);

}

ul{
    margin-left: 70px;
    text-decoration: none;
    
}






footer{
    grid-area: footer;
    width: 100%;
    height: 120px;
    background-color: darkcyan;
}




