@charset "UTF-8";


:root{
/*Paleta de cores*/
    --cor-Azul-Escuro:darkcyan;
    --cor-Azul-Claro:rgb(190, 240, 255);
}


body{
    margin: 0px;
}

.grid{
    
    display: grid;
    grid-template-areas: 
       "header header"
       "aside main"
      "footer footer";

      grid-template-columns: 305px 1fr;

}

header {
    grid-area: header;
    opacity: 1;
   display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 280px;
    background-color: var(--cor-Azul-Escuro);

}
header:hover{

    cursor: pointer;
}
.img-align{
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}
@keyframes opac{
    from{
        opacity: 0;
        transform: translateY(20px);
 
}
to{
    opacity: 1;
    transform: translateY(0px);
}

}

.titulo{
    font-size: 35px;
    padding: 5px;
    border: 4px solid white;
    color: white;
    animation: opac 2s linear;
   
    
}
h1{
    padding-top: 20px;
  text-align: center;
  color: darkcyan;
   
    
}
h3{
    text-align: center;
    color:white;
    background-color: var(--cor-Azul-Escuro);
}
h4{
   margin:10px;
    text-align: center;
    color:darkcyan;
}

@keyframes slide-aside{

    from{
        margin-top:110px;

    }
    to{
      margin-top: -50px;
    }

}
aside{
    z-index: 1;
    margin-left: 64px;
    margin-right: 20x;
    margin-top: -50px;
    grid-area: aside;
    background-color: var(--cor-Azul-Claro);
    width: 250px;
    height: 730px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);
    animation: slide-aside 2s linear;
}


.skill{
    text-align: center;
    background-color: var(--cor-Azul-Escuro);
    border-radius: 20px;
    color: white;
 
}
.container-foto{
    margin: 10px auto;
    width: 220px;
    height: 180px;
    background-color:var(--cor-Azul-Escuro);
}

main{
 margin: 0px;
}
@keyframes slide-sobre{
    from{
      transform:translateX(200px)
    }
    to{
        
        transform: scaleX(0px);
    }
}
.container-sobre{
    margin: 40px auto ;

    width: 75%;
    height: auto;
    grid-area: main;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
    animation: slide-sobre 2s linear;

}



p{
    color: black;
 
    margin: 30px;
    text-indent: 50px;
}

.grid-foto{
    display: grid;
    grid-template-areas: 
    "div-foto div-sobre"
    "footer footer";
    padding-bottom: 30px;

    


}



.div-foto{

    background-image: url(../imagem/leandro-formatura.jpg);
    background-size: cover;
     grid-area: div-foto;
 margin-left: 5px;
 margin-top: 5px;

 width: 250px;
 height: 350px;
 background-color: var(--cor-Azul-Escuro);
 ;
 margin-bottom: 15px;
}



.div-foto:hover{
    opacity: 1;

    cursor: pointer;

}

.fundo-foto{
 
    margin-left: 40px;
    width: 260px;
    height: 360px;
    background-color: var(--cor-Azul-Escuro);
    ;
    margin-bottom: 15px;

}



.div-sobre{
    grid-area: div-sobre;
    
}
.container-forma{
    width: 75%;
    height: auto;
    margin: 10px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.542);
    padding-bottom: 25px;

}

ul{
    margin-left: 70px;
    text-decoration: none;
    
}

.container-habi{
    width: 75%;
    height: auto;
    margin: 10px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.542);
    padding-bottom: 25px;


}
.container-conh{
    width: 75%;
    height: auto;
    margin: 10px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.542);
    padding-bottom: 25px;
}
.card{
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    width: 21%;
    display: inline-block;
    padding: 30px;
    background-color: var(--cor-Azul-Escuro);
    color: white;
}


footer{

    grid-area: footer;
    margin-left:0px;
    margin-bottom: -20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 140px;
    background-color: var(--cor-Azul-Escuro);

  
}
a{
    color: white;  
    text-decoration: none;
}




